<p id="notice"><%= notice %></p>

<p>
  <strong>Farmer first name:</strong>
  <%= @pollination_place.farmer_first_name %>
</p>

<p>
  <strong>Farmer last name:</strong>
  <%= @pollination_place.farmer_last_name %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @pollination_place.farm_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pollination_place.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @pollination_place.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @pollination_place.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @pollination_place.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @pollination_place.phone %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @pollination_place.zip %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @pollination_place.email_address %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @pollination_place.plant %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @pollination_place.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @pollination_place.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pollination_place.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @pollination_place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @pollination_place.longitude %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @pollination_place.elevation %>
</p>

<%= link_to 'Edit', edit_pollination_place_path(@pollination_place) %> |
<%= link_to 'Back', pollination_places_path %>
