<%= form_for @beehive_group, :html => { :class => "form-horizontal beehive_group" } do |f| %>

    <% if @beehive_group.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@beehive_group.errors.count, "error") %> prohibited this beehive_group from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @beehive_group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :apiary_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apiary_id, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:apiary_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :beehive_group_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :beehive_group_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:beehive_group_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :group_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :group_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:group_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:latitude]) %>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:longitude]) %>
  </div>
  <div class="control-group">
    <%= f.label :elevation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :elevation, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:elevation]) %>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :notes, :class => 'form-control' %>
    </div>
    <%= error_span(@beehive_group[:notes]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            beehive_groups_path, :class => 'btn btn-default' %>

<% end %>
