<div class="row">
  <div class="col-md-8">
    <%= form_for @apiary, :html => {:class => "form-horizontal apiary"} do |f| %>
        <% if @apiary.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title"><%= pluralize(@apiary.errors.count, "error") %> prohibited this apiary from
                  being saved:</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <% @apiary.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">New apiary data</h3>
          </div>
          <div class="panel-body">
            <div class="control-group">
              <%= f.label :name, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :name, :class => 'form-control' %>
              </div>
              <%= error_span(@apiary[:name]) %>
            </div>
            <div class="control-group">
              <%= f.label :apiary_type_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :apiary_type_id, ApiaryType.owner(current_beekeeper.current_apiary_id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
              </div>
              <%= error_span(@apiary[:apiary_type_id]) %>
            </div>
            <div class="control-group">
              <%= f.label :apiary_forage_type_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :apiary_forage_type_id, ApiaryForageType.owner(current_beekeeper.current_apiary_id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
              </div>
              <%= error_span(@apiary[:apiary_forage_type_id]) %>
            </div>
            <div class="control-group">
              <%= f.label :description, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :description, :rows => "10", :class => 'form-control' %>
              </div>
              <%= error_span(@apiary[:description]) %>
            </div>
            <div class="control-group">
              <%= f.label :latitude, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :latitude, :class => 'form-control' %>
              </div>
              <%= error_span(@apiary[:latitude]) %>
            </div>
            <div class="control-group">
              <%= f.label :longitude, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :longitude, :class => 'form-control' %>
              </div>
              <%= error_span(@apiary[:longitude]) %>
            </div>
            <div class="control-group">
              <%= f.label :notes, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :notes, :rows => "10", :class => 'form-control' %>
              </div>
              <%= error_span(@apiary[:notes]) %>
            </div>
          </div>
          <div class="panel-footer">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        apiaries_path, :class => 'btn btn-default' %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
      </div>
      <div class="panel-body">
        <fieldset class="gllpLatlonPicker">
          <input type="text" class="gllpSearchField">
          <input type="button" class="gllpSearchButton" value="search">
          <br/><br/>
          <div class="gllpMap">Google Maps</div>
          <br/>
          lat/lon:
          <input type="text" class="gllpLatitude" value="20"/>
          /
          <input type="text" class="gllpLongitude" value="20"/>
          zoom: <input type="text" class="gllpZoom" value="3"/>
          <input type="button" class="gllpUpdateButton" value="update map">
          <br/>
        </fieldset>
      </div>
    </div>
  </div>
</div>