<%- model_class = Apiary -%>
<div class="page-header">
  <h5><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h5>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="apiaries" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:apiary_type_id) %></th>
          <th><%= model_class.human_attribute_name(:apiary_forage_type_id) %></th>
          <th><%= model_class.human_attribute_name(:description) %></th>
          <th><%= t '.actions', :default => t("helpers.actions") %></th>
        </tr>
        </thead>
        <tbody>
        <% @apiaries.each do |apiary| %>
            <tr>
              <td><%= link_to apiary.id, apiary_path(apiary) %></td>
              <td><%= apiary.name %></td>
              <% if apiary.apiary_type.blank? %>
                  <td>
                    <div class="alert alert-danger" role="alert">

                    </div>
                  </td>
              <% else %>
                  <td><%= apiary.apiary_type.name %></td>
              <% end %>
              <% if apiary.apiary_forage_type.blank? %>
                  <td>
                    <div class="alert alert-danger" role="alert">

                    </div>
                  </td>
              <% else %>
                  <td><%= apiary.apiary_forage_type.name %></td>
              <% end %>
              <td><%= apiary.description %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_apiary_path(apiary), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            apiary_path(apiary),
                            :method => :delete,
                            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                            :class => 'btn btn-xs btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_system_setup_path,
                :class => 'btn btn-primary' %>
  </div>
</div>
