<h1>Listing apiaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Apiary type</th>
      <th>Apiary forage type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apiaries.each do |apiary| %>
      <tr>
        <td><%= apiary.name %></td>
        <td><%= apiary.apiary_type.name %></td>
        <td><%= apiary.apiary_forage_type %></td>
        <td><%= apiary.description %></td>
        <td><%= link_to 'Show', apiary %></td>
        <td><%= link_to 'Edit', edit_apiary_path(apiary) %></td>
        <td><%= link_to 'Destroy', apiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
