<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @apiary.name %>
</p>

<p>
  <strong>Apiary type:</strong>
  <%= @apiary.apiary_type %>
</p>

<p>
  <strong>Apiary forage type:</strong>
  <%= @apiary.apiary_forage_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @apiary.description %>
</p>

<%= link_to 'Edit', edit_apiary_path(@apiary) %> |
<%= link_to 'Back', apiaries_path %>
