<%= form_for @beehive, :html => {:class => "form-horizontal beehive"} do |f| %>

    <% if @beehive.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@beehive.errors.count, "error") %> prohibited this beehive
              from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @beehive.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Beehive data</h3>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-8">

            <div class="control-group">
              <%= f.label :name, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :name, :class => 'form-control' %>
              </div>
              <%= error_span(@beehive[:name]) %>
            </div>
            <div class="control-group">
              <%= f.label :beehive_type_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :beehive_type_id, BeehiveType.where(:apiary_id => current_beekeeper.current_apiary_id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
              </div>
              <%= error_span(@beehive[:beehive_type_id]) %>
            </div>
            <div class="control-group">
              <%= f.label :group_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :group_id, BeehiveGroupType.where(:apiary_id => current_beekeeper.current_apiary_id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
              </div>
              <%= error_span(@beehive[:group_id]) %>
            </div>
            <div class="control-group">
              <%= f.label :colony_source_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :colony_source_id, ColonySource.where(:apiary_id => current_beekeeper.current_apiary_id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
              </div>
              <%= error_span(@beehive[:colony_source_id]) %>
            </div>
            <div class="control-group">
              <%= f.label :colony_strength, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :colony_strength, :class => 'form-control' %>
              </div>
              <%= error_span(@beehive[:colony_strength]) %>
            </div>
            <div class="control-group">
              <%= f.label :colony_quality, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :colony_quality, :class => 'form-control' %>
              </div>
              <%= error_span(@beehive[:colony_quality]) %>
            </div>
            <div class="control-group">
              <%= f.label :supers_id, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :supers_id, Super.where(:apiary_id => current_beekeeper.current_apiary_id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
              </div>
              <%= error_span(@beehive[:supers_id]) %>
            </div>
            <div class="control-group">
              <%= f.label :notes, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_area :notes, :rows => "10", :class => 'form-control' %>
              </div>
              <%= error_span(@beehive[:notes]) %>
            </div>

          </div>
          <div class="col-md-4">


            <div class="panel panel-default">


              <div class="panel-heading">


                <h3 class="panel-title">

                  <%= f.label :queen_name, :class => 'control-label' %>

                </h3>

              </div>

              <div class="panel-body">

                <%= f.text_field :queen_name, :class => 'form-control' %>

              </div>

            </div>

            <div id="tabs">


              <ul>
                <li><a href="#tabs-1">Bouth</a></li>
                <li><a href="#tabs-2">Manufactured</a></li>
              </ul>


              <div id="tabs-1">



                <div class="control-group">
                  <%= f.label :seller_first_name, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :seller_first_name, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:seller_first_name]) %>
                </div>

                <div class="control-group">
                  <%= f.label :seller_last_name, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :seller_last_name, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:seller_last_name]) %>
                </div>

                <div class="control-group">
                  <%= f.label :place, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :place, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:place]) %>
                </div>

                <div class="control-group">
                  <%= f.label :address, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :address, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:address]) %>
                </div>

                <div class="control-group">
                  <%= f.label :email_address, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :email_address, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:email_address]) %>
                </div>

                <div class="control-group">
                  <%= f.label :phone, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :phone, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:phone]) %>
                </div>


              </div>


              <div id="tabs-2">


                <div class="control-group">
                  <%= f.label :from_apiary_id, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.select :from_apiary_id, Apiary.where(:owner_id => current_beekeeper.id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
                  </div>
                  <%= error_span(@beehive[:from_apiary_id]) %>
                </div>


                <div class="control-group">
                  <%= f.label :from_beehive_id, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.select :from_beehive_id, Beehive.where(:apiary_id => current_beekeeper.current_apiary_id).all.collect { |i| [i.name, i.id] }, {}, {class: "form-control"} %>
                  </div>
                  <%= error_span(@beehive[:from_beehive_id]) %>
                </div>


              </div>


              <div class="well">



                <div class="control-group">
                  <%= f.label :race, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :race, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:race]) %>
                </div>

                <div class="control-group">
                  <%= f.label :installed, :class => 'control-label' %>
                  <div class="controls">
                    <%= f.date_select :installed, :class => 'form-control' %>
                  </div>
                  <%= error_span(@beehive[:installed]) %>
                </div>



              </div>


            </div>



              </div>

            </div>






          </div>






      <div class="panel-footer">

        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    beehives_path, :class => 'btn btn-default' %>
<% end %>
      </div>






</div>