<%- model_class = Beehive -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover" id="beehives">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:beehive_type_id) %></th>
      <th><%= model_class.human_attribute_name(:apiary_id) %></th>
      <th><%= model_class.human_attribute_name(:group_id) %></th>
      <th><%= model_class.human_attribute_name(:queen_name) %></th>
      <th><%= model_class.human_attribute_name(:installed) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @beehives.each do |beehive| %>
      <tr>
        <td><%= link_to beehive.id, beehive_path(beehive) %></td>
        <td><%= beehive.name %></td>
        <td><%= beehive.beehive_type_id %></td>
        <td><%= beehive.apiary_id %></td>
        <td><%= beehive.group_id %></td>
        <td><%= beehive.queen_name %></td>
        <td><%= beehive.installed %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_beehive_path(beehive), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      beehive_path(beehive),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_beehive_path,
            :class => 'btn btn-primary' %>
