<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beehive.name %>
</p>

<p>
  <strong>Beehive type:</strong>
  <%= @beehive.beehive_type %>
</p>

<p>
  <strong>Apiary:</strong>
  <%= @beehive.apiary %>
</p>

<p>
  <strong>Group:</strong>
  <%= @beehive.group %>
</p>

<p>
  <strong>Colony source:</strong>
  <%= @beehive.colony_source %>
</p>

<p>
  <strong>Colony strength:</strong>
  <%= @beehive.colony_strength %>
</p>

<p>
  <strong>Colony quality:</strong>
  <%= @beehive.colony_quality %>
</p>

<p>
  <strong>Supers:</strong>
  <%= @beehive.supers %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @beehive.notes %>
</p>

<p>
  <strong>Queen name:</strong>
  <%= @beehive.queen_name %>
</p>

<p>
  <strong>Seller first name:</strong>
  <%= @beehive.seller_first_name %>
</p>

<p>
  <strong>Seller last name:</strong>
  <%= @beehive.seller_last_name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @beehive.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @beehive.address %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @beehive.email_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @beehive.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @beehive.notes %>
</p>

<p>
  <strong>From apiary:</strong>
  <%= @beehive.from_apiary %>
</p>

<p>
  <strong>From beehive:</strong>
  <%= @beehive.from_beehive %>
</p>

<p>
  <strong>Race:</strong>
  <%= @beehive.race %>
</p>

<p>
  <strong>Installed:</strong>
  <%= @beehive.installed %>
</p>

<%= link_to 'Edit', edit_beehive_path(@beehive) %> |
<%= link_to 'Back', beehives_path %>
