<li>
  <%= link_to({:controller => "dashboard", :action => "index"}) do %>
      <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
  <% end %>
  <li class="<%= 'active' if controller?("beehives") %>">
    <a href="#"><i class="fa fa-archive fa-fw"></i> Beehives<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(beehives_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> List beehives
      </li><% end %>
      <li><%= link_to(new_beehive_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new beehives
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("apiaries") %>">
    <a href="#"><i class="fa  fa-tags fa-fw"></i> Apiaries<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(apiaries_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> List apiaries
      </li><% end %>
      <li><%= link_to(new_apiary_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new apiary
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("beehive_groups") %>">
    <a href="#"><i class="fa  fa-truck fa-fw"></i> Beehive groups<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(beehive_groups_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> List beehive groups
      </li><% end %>
      <li><%= link_to(new_beehive_group_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add beehive group
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("bad_places") %>">
    <a href="#"><i class="fa fa-globe fa-fw"></i> Places where not to go<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(bad_places_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> List bad places
      </li><% end %>
      <li><%= link_to(new_bad_place_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add bad place
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("pollination_places") %>">
    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Pollination places<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(pollination_places_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> List pollination places
      </li><% end %>
      <li><%= link_to(new_pollination_place_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add pollination place
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("apiary_works") %>">
    <a href="#"><i class="fa fa-bars fa-fw"></i> Works on apiary<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(apiary_works_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> Apiary Works
      </li><% end %>
      <li><%= link_to(new_apiary_work_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new work
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("inspections") %>">
    <a href="#"><i class="fa fa-check fa-fw"></i> Inspections<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(inspections_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> Inspections list
      </li><% end %>
      <li><%= link_to(new_inspection_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new inspection
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("feedings") %>">
    <a href="#"><i class="fa fa-cutlery fa-fw"></i> Feeding<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(feedings_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> Feedings list
      </li><% end %>
      <li><%= link_to(new_feeding_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new feeding
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("harvests") %>">
    <a href="#"><i class="fa fa-gavel fa-fw"></i> Harvest<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(harvests_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> Harvests list
      </li><% end %>
      <li><%= link_to(new_harvest_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new harvest
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("economies") %>">
    <a href="#"><i class="fa fa-dollar fa-fw"></i> Economy<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(economies_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> Economies list
      </li><% end %>
      <li><%= link_to(new_economy_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new economy
      </li><% end %>
    </ul>
  </li>
  <li class="<%= 'active' if controller?("locations") %>">
    <a href="#"><i class="fa fa-map-marker fa-fw"></i> Location of Forages<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li><%= link_to(locations_path) do %>
            <i class="fa fa-align-justify fa-fw"></i> Locations list
      </li><% end %>
      <li><%= link_to(new_location_path) do %>
            <i class="fa fa-plus fa-fw"></i> Add new location
      </li><% end %>
    </ul>
  </li>