<%= nested_form_for(@apiary_parameters_setup) do |f| %>
  <% if @apiary_parameters_setup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apiary_parameters_setup.errors.count, "error") %> prohibited this apiary_parameters_setup from being saved:</h2>

      <ul>
      <% @apiary_parameters_setup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Your Apiary</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <%= f.select :apiary_id, Apiary.owner(current_beekeeper.id).all.map { |a| [ a.name, a.id ] } %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Beehive types:</h3>
      </div>
      <div class="panel-body">
        <%= render :partial => 'parameters_setup_partials/beehive_types', :locals => {:f => f} %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Apiary types:</h3>
      </div>
      <div class="panel-body">
        <%= render :partial => 'parameters_setup_partials/apiary_types', :locals => {:f => f} %>
      </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Apiary forage types:</h3>
      </div>
      <div class="panel-body">
        <%= render :partial => 'parameters_setup_partials/apiary_forage_types', :locals => {:f => f} %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Apiary forage types:</h3>
      </div>
      <div class="panel-body">
        <%= render :partial => 'parameters_setup_partials/beehive_group_types', :locals => {:f => f} %>
      </div>
    </div>
  </div>
  <div class="col-md-4">

  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
