<div class="row">
  <div class="col-md-8">
<%= form_for @feeding, :html => { :class => "form-horizontal feeding" } do |f| %>

    <% if @feeding.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@feeding.errors.count, "error") %> prohibited this feeding from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @feeding.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
  <div class="control-group">
    <%= f.label :beehive_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :beehive_id, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:beehive_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :food_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :food_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:food_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:quantity]) %>
  </div>
  <div class="control-group">
    <%= f.label :quantity_unit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity_unit_id, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:quantity_unit_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :supplements_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :supplements_id, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:supplements_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:date]) %>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :notes, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:notes]) %>
  </div>
  <div class="control-group">
    <%= f.label :value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, :class => 'form-control' %>
    </div>
    <%= error_span(@feeding[:value]) %>
  </div>
        </div>
      <div class="panel-footer">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            feedings_path, :class => 'btn btn-default' %>
        </div>
        </div>
<% end %>
  </div>
  <div class="col-md-4">.col-md-4</div>
</div>