<%= form_for(@bad_place) do |f| %>
  <% if @bad_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bad_place.errors.count, "error") %> prohibited this bad_place from being saved:</h2>

      <ul>
      <% @bad_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :elevation %><br>
    <%= f.text_field :elevation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
