<h1>Listing bad_places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bad_places.each do |bad_place| %>
      <tr>
        <td><%= bad_place.name %></td>
        <td><%= bad_place.description %></td>
        <td><%= bad_place.latitude %></td>
        <td><%= bad_place.longitude %></td>
        <td><%= bad_place.elevation %></td>
        <td><%= link_to 'Show', bad_place %></td>
        <td><%= link_to 'Edit', edit_bad_place_path(bad_place) %></td>
        <td><%= link_to 'Destroy', bad_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bad place', new_bad_place_path %>
