<div class="row">
  <div class="col-md-8">
<%= form_for @economy, :html => { :class => "form-horizontal economy" } do |f| %>

    <% if @economy.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@economy.errors.count, "error") %> prohibited this economy from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @economy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">New economy data</h3>
          </div>
          <div class="panel-body">
  <div class="control-group">
    <%= f.label :beehive_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :beehive_id, :class => 'form-control' %>
    </div>
    <%= error_span(@economy[:beehive_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@economy[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category_id, :class => 'form-control' %>
    </div>
    <%= error_span(@economy[:category_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@economy[:type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@economy[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, :class => 'form-control' %>
    </div>
    <%= error_span(@economy[:value]) %>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'form-control' %>
    </div>
    <%= error_span(@economy[:date]) %>
  </div>
            </div>
          <div class="panel-footer">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            economies_path, :class => 'btn btn-default' %>
          </div>
        </div>

<% end %>
  </div>
  <div class="col-md-4">.col-md-4</div>
</div>