<h1>Listing economies</h1>

<table>
  <thead>
    <tr>
      <th>Beehive</th>
      <th>Name</th>
      <th>Category</th>
      <th>Type</th>
      <th>Description</th>
      <th>Value</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @economies.each do |economy| %>
      <tr>
        <td><%= economy.beehive %></td>
        <td><%= economy.name %></td>
        <td><%= economy.category %></td>
        <td><%= economy.type %></td>
        <td><%= economy.description %></td>
        <td><%= economy.value %></td>
        <td><%= economy.date %></td>
        <td><%= link_to 'Show', economy %></td>
        <td><%= link_to 'Edit', edit_economy_path(economy) %></td>
        <td><%= link_to 'Destroy', economy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Economy', new_economy_path %>
