<%= form_for @inspection, :html => { :class => "form-horizontal inspection" } do |f| %>

    <% if @inspection.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@inspection.errors.count, "error") %> prohibited this inspection from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @inspection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :beehive_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :beehive_id, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:beehive_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :society_strength, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :society_strength, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:society_strength]) %>
  </div>
  <div class="control-group">
    <%= f.label :the_nature_of_the_bees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :the_nature_of_the_bees, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:the_nature_of_the_bees]) %>
  </div>
  <div class="control-group">
    <%= f.label :swarm_drive, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :swarm_drive, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:swarm_drive]) %>
  </div>
  <div class="control-group">
    <%= f.label :a_qulet_shift, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :a_qulet_shift, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:a_qulet_shift]) %>
  </div>
  <div class="control-group">
    <%= f.label :the_forced, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :the_forced, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:the_forced]) %>
  </div>
  <div class="control-group">
    <%= f.label :disease_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :disease_id, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:disease_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :number_of_frames_with_brood, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_frames_with_brood, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:number_of_frames_with_brood]) %>
  </div>
  <div class="control-group">
    <%= f.label :number_of_frames_with_honey, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_frames_with_honey, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:number_of_frames_with_honey]) %>
  </div>
  <div class="control-group">
    <%= f.label :number_of_frames_with_pollen, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_frames_with_pollen, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:number_of_frames_with_pollen]) %>
  </div>
  <div class="control-group">
    <%= f.label :quality_nut, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quality_nut, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:quality_nut]) %>
  </div>
  <div class="control-group">
    <%= f.label :number_of_opened_broods, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_opened_broods, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:number_of_opened_broods]) %>
  </div>
  <div class="control-group">
    <%= f.label :number_of_closed_broods, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_of_closed_broods, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:number_of_closed_broods]) %>
  </div>
  <div class="control-group">
    <%= f.label :alert_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :alert_info, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:alert_info]) %>
  </div>
  <div class="control-group">
    <%= f.label :note_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note_info, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:note_info]) %>
  </div>
  <div class="control-group">
    <%= f.label :inspection_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :inspection_date, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:inspection_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :hive_condition, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hive_condition, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:hive_condition]) %>
  </div>
  <div class="control-group">
    <%= f.label :firs_spring_inspection, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firs_spring_inspection, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:firs_spring_inspection]) %>
  </div>
  <div class="control-group">
    <%= f.label :inspection_before_winter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :inspection_before_winter, :class => 'form-control' %>
    </div>
    <%= error_span(@inspection[:inspection_before_winter]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            inspections_path, :class => 'btn btn-default' %>

<% end %>
