<p id="notice"><%= notice %></p>

<p>
  <strong>Beehive:</strong>
  <%= @inspection.beehive %>
</p>

<p>
  <strong>Name:</strong>
  <%= @inspection.name %>
</p>

<p>
  <strong>Society strength:</strong>
  <%= @inspection.society_strength %>
</p>

<p>
  <strong>The nature of the bees:</strong>
  <%= @inspection.the_nature_of_the_bees %>
</p>

<p>
  <strong>Swarm drive:</strong>
  <%= @inspection.swarm_drive %>
</p>

<p>
  <strong>A qulet shift:</strong>
  <%= @inspection.a_qulet_shift %>
</p>

<p>
  <strong>The forced:</strong>
  <%= @inspection.the_forced %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @inspection.disease %>
</p>

<p>
  <strong>Number of frames with brood:</strong>
  <%= @inspection.number_of_frames_with_brood %>
</p>

<p>
  <strong>Number of frames with honey:</strong>
  <%= @inspection.number_of_frames_with_honey %>
</p>

<p>
  <strong>Number of frames with pollen:</strong>
  <%= @inspection.number_of_frames_with_pollen %>
</p>

<p>
  <strong>Quality nut:</strong>
  <%= @inspection.quality_nut %>
</p>

<p>
  <strong>Number of opened broods:</strong>
  <%= @inspection.number_of_opened_broods %>
</p>

<p>
  <strong>Number of closed broods:</strong>
  <%= @inspection.number_of_closed_broods %>
</p>

<p>
  <strong>Alert info:</strong>
  <%= @inspection.alert_info %>
</p>

<p>
  <strong>Note info:</strong>
  <%= @inspection.note_info %>
</p>

<p>
  <strong>Inspection date:</strong>
  <%= @inspection.inspection_date %>
</p>

<p>
  <strong>Hive condition:</strong>
  <%= @inspection.hive_condition %>
</p>

<p>
  <strong>Firs spring inspection:</strong>
  <%= @inspection.firs_spring_inspection %>
</p>

<p>
  <strong>Inspection before winter:</strong>
  <%= @inspection.inspection_before_winter %>
</p>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
